@using System.Globalization
@using Finanse_aspnet_mvc.Models.Operations;
@model IEnumerable<IGrouping<string, Operation>>

@*@foreach (var group in Model) {
    <div role="heading" value="@(group.Key)" class="operation-header animate-button">
        @{
            var date = DateTime.ParseExact(group.Key, "yyyy.MM.dd", CultureInfo.InvariantCulture);
        }
        <div class="operation-header-dayNum">@date.ToString("dd")</div>
        <div>@date.ToString("dddd")</div>
    </div>
    foreach (var operation in group) {
        @Html.Partial("_Operation", operation)
    }
}*@

<div role="heading" value="2017.08.08" class="operation-header animate-button">
    @{
        var date = DateTime.ParseExact("2017.08.08", "yyyy.MM.dd", CultureInfo.InvariantCulture);
    }
    <div class="operation-header-dayNum">@date.ToString("dd")</div>
    <div>@date.ToString("dddd")</div>
</div>
@for (int i = 0; i < 3; i++) {
    @Html.Partial("_Operation", null)
}




