@model IEnumerable<Finanse_aspnet_mvc.Models.Operations.Operation>
@{
    ViewBag.Title = "Operacje";
}

<!-- modal placeholder-->
<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<div class="btn-group">
    <button id="prevMonthBtn" class="btn btn-default animateBtn"><< Poprzedni</button>
    <button id="actualMonthBtn" class="btn btn-primary actualMonth animateBtn">...</button>
    <button id="nextMonthBtn" class="btn btn-default animateBtn">Następny >></button>
</div>

<div id="noOperationsMessage" style="display: none">
    <p>Brak operacji w tym miesiącu :(</p>
</div>

<div id="operationsList">
</div>

<div id="progress" style="display: none">
    <div class="loader-inner ball-pulse"></div>
    <h4>Loading...</h4>
</div>

<div id="error" style="display:none">
    <h4>Wystąpił błąd podczas ładowania</h4>
    <button id="tryAgainBtn" class="btn btn-default">Spróbuj ponownie</button>
</div>

@Html.ActionLink("+", "Create", "Operations", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success btn-circle btn-lg addNew-button animateBtn" })
@*<button type="button" class="btn btn-success btn-circle btn-lg addNew-button"><i class="glyphicon glyphicon-plus"></i></button>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/scripts/moment-with-locales.js")
    @Scripts.Render("~/scripts/operationsInfiniteScrolling.js")
    @Scripts.Render("~/scripts/loaders.css.js")
}