@model IEnumerable<Finanse_aspnet_mvc.Models.Operations.Operation>
@{
    ViewBag.Title = "Operacje";
}

<!-- modal placeholder-->
<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="btn-group" id="nav-month">
        <button id="prevMonthBtn" class="btn button-round animate-button"><i class="fa fa-chevron-left"></i></button>
        <button id="nextMonthBtn" class="btn button-round animate-button"><i class="fa fa-chevron-right"></i></button>
        <button id="actualMonthBtn" class="btn button-round actualMonth animate-button">...</button>
    </div>

    <div id="noOperationsMessage" style="display: none">
        <p>Brak operacji w tym miesiącu :(</p>
    </div>

    <div id="operationsList">
    </div>

    <div id="progress" style="display: none">
        <div class="loader"></div>
        <h4>Loading...</h4>
    </div>

    <div id="error" style="display:none">
        <h4>Wystąpił błąd podczas ładowania</h4>
        <button id="tryAgainBtn" class="btn button-round animate-button">Spróbuj ponownie</button>
    </div>
</div>

@Html.ActionLink("+", "Create", "Operations", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success btn-circle btn-lg button-add animate-button" })
@*<button type="button" class="btn btn-success btn-circle btn-lg addNew-button"><i class="glyphicon glyphicon-plus"></i></button>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/scripts/moment-with-locales.js")
    @Scripts.Render("~/scripts/operationsInfiniteScrolling.js")
    @Scripts.Render("~/scripts/loaders.css.js")
}