@model IEnumerable<Finanse_aspnet_mvc.Models.Operations.Operation>
@{
    ViewBag.Title = "Operacje";
}

<!-- modal placeholder-->
<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<div class="page-content-new">
    @*<div class="btn-group" id="nav-month">
        <button id="prevMonthBtn" class="btn button-round animate-button"><i class="fa fa-chevron-left"></i></button>
        <button id="nextMonthBtn" class="btn button-round animate-button"><i class="fa fa-chevron-right"></i></button>
        <button id="actualMonthBtn" class="btn button-round actualMonth animate-button">...</button>
    </div>

    <div id="noOperationsMessage" style="display: none">
        <p>Brak operacji w tym miesiącu :(</p>
    </div>

    <div id="operationsList">
    </div>

    <div id="progress" style="display: none">
        <div class="loader"></div>
        <h4>Loading...</h4>
    </div>

    <div id="error" style="display:none">
        <h4>Wystąpił błąd podczas ładowania</h4>
        <button id="tryAgainBtn" class="btn button-round animate-button">Spróbuj ponownie</button>
    </div>*@
    @*@Html.Partial("_OperationsList", null)*@
    <div id="nav-month-wrapper">
        <div id="nav-month">
            <div class="month-bar">
                <p>Sierpień</p>
                <small>2017</small>
            </div>
            <div id="nav-month-buttons">
                <button class="outline-button square">
                    <i class="fa fa-angle-left square" aria-hidden="true"></i>
                </button>
                <button class="outline-button square">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                <button class="outline-button outline-button-inverted square" id="planned-operations-button">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div id="blank-space">

        </div>
    </div>
    <div id="operations-page-content">
        <div id="operations-list-card" class="page-card">
            <div class="header">
                <p>Operacje</p>

                <div class="right bottomline-button-group">
                    <div class="bottomline-button">
                        <input type="radio" id="group-by-date-button" name="group-method" value="date" checked="checked" />
                        <label for="group-by-date-button" class="animate-button">Data</label>
                    </div>

                    <div class="bottomline-button">
                        <input type="radio" id="group-by-category-button" name="group-method" value="category" />
                        <label for="group-by-category-button" class="animate-button">Kategoria</label>
                    </div>
                </div>
            </div>
            <div id="operations-list">
                @Html.Partial("_OperationsList", null)
                @Html.Partial("_OperationsList", null)
            </div>
        </div>
        <div id="more-infos-cards" class="page-card-container">
            <div id="visible-accounts-card" class="page-card inner-page-card">
                <div class="header">
                    <p>Widoczne konta</p>

                    <button class="right expand-button">
                        <i class="fa fa-angle-down animate-button" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="content">

                    <div class="checkbox-group">
                        <div class="checkbox-div">
                            <input type="checkbox" id="account-01-checkbox" class="animate-button">
                            <label for="account-01-checkbox">Gotówka</label>
                        </div>

                        <div class="checkbox-div">
                            <input type="checkbox" id="account-02-checkbox" class="animate-button" checked="checked" />
                            <label for="account-02-checkbox">BZ WBK</label>
                        </div>

                        <div class="checkbox-div sub">
                            <input type="checkbox" id="account-03-checkbox" class="animate-button" checked="checked" />
                            <label for="account-03-checkbox">Karta Visa</label>
                        </div>

                        <div class="checkbox-div sub">
                            <input type="checkbox" id="account-04-checkbox" class="animate-button" />
                            <label for="account-04-checkbox">Karta MasterCard</label>
                        </div>
                    </div>

                    <button class="outline-button filter-button">Filtruj</button>

                </div>
            </div>
            <div id="summary-card" class="page-card inner-page-card">
                <div class="header">
                    <p>Podsumowanie</p>

                    <button class="right expand-button">
                        <i class="fa fa-angle-down animate-button" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="content">
                    Kontent
                </div>
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("+", "Create", "Operations", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success btn-circle btn-lg button-add animate-button" })
@*<button type="button" class="btn btn-success btn-circle btn-lg addNew-button"><i class="glyphicon glyphicon-plus"></i></button>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/scripts/moment-with-locales.js")
    @*@Scripts.Render("~/scripts/operationsInfiniteScrolling.js")*@
    @Scripts.Render("~/scripts/loaders.css.js")

    <script>
        /* Slide Toogle */
        $("div.page-card button.expand-button").click(function () {
            var arrow = $(this).find("i.fa");

            arrow.toggleClass("fa-rotate-90");

            $(this).parent().parent().find("div.content").slideToggle();
        });
    </script>
}