@using Finanse_aspnet_mvc.Models.Operations
@model IEnumerable<Finanse_aspnet_mvc.Models.Operations.Operation>

@{
    ViewBag.Title = "Operacje";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@Html.ActionLink("Dodaj operację", "Create", "Operations", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary" })

@foreach (var item in Model) {
    @Html.Partial("_Operation", item)
}

<div id="container"></div>
<div id="progress" style="display:none">
    <h4>Loading...</h4>
</div>

@*<button id="loadMoreBtn" class="btn btn-primary">Wczytaj więcej</button>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")

    <script type="text/javascript">

        var pageSize = 10;
        var pageIndex = 0;
        var lastId = -1;

        //$('#loadMoreBtn').click(function () {
        //    GetData();
        //});

        $(document).ready(function () {
            GetData();

            $(window).scroll(function () {
                if ($(window).scrollTop() ==
                    $(document).height() - $(window).height()) {
                    GetData();
                }
            });
        });

        //function loadMoreBtnVisibility(isVisible) {
        //    if (isVisible)
        //        $('#loadMoreBtn').show();
        //    else
        //        $('#loadMoreBtn').hide();
        //}

        function GetData() {
            $.ajax({
                type: 'GET',
                url: '/Operations/GetOperations',
                data: { "lastid": lastId, "pagesize": pageSize },
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        @*var size = data.length;
                        for (var i = 0; i < size; i++) {
                            $("#container").append('<h4>' + data[i].Id + '</h4>');
                            @*$("#container").append('@Html.Partial("_Operation", new Operation { Title = "Test", Cost = 12 })');*@
                        @*}*@

                        //if (size) {
                        //    lastId = data[size - 1].Id;
                        //    pageIndex++;

                        //    if ($("body").height() <= $(window).height())
                        //        GetData();
                        //}
                    }
                },
                beforeSend : function () {
                    $("#progress").show();
                },
                complete : function () {
                    $("#progress").hide();
                },
                error: function () {
                    alert("Error while retrieving data!");
                }
            });
        }
    </script>
}