@using Finanse_aspnet_mvc.Models.Accounts
@model IEnumerable<Finanse_aspnet_mvc.Models.Operations.Operation>
@{
    ViewBag.Title = "Operacje";
}

<!-- modal placeholder-->
<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<div class="page-content-new">

    <!-- Page heading -->
    <div class="page-top">
        <div id="nav-month">
            <div class="month-bar">
                <p id="actual-month-title">Miesiąc</p>
                <small id="actual-year-title">Rok</small>
            </div>
            <div id="nav-month-buttons">
                <button class="outline-button square" id="prev-month-button">
                    <i class="fa fa-angle-left square" aria-hidden="true"></i>
                </button>
                <button class="outline-button square" id="next-month-button">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                <button class="outline-button outline-button-inverted square" id="planned-operations-button">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div id="blank-space"></div>
    </div>

    <!-- Page content -->
    <div id="operations-page-content">
        
        <!-- Operations list -->
        <div id="operations-list-card" class="page-card">
            <div class="header">
                <p>Operacje</p>

                <div class="flex-right bottomline-button-group">
                    <div class="bottomline-button">
                        <input type="radio" id="group-by-date-button" name="group-method" value="date" checked="checked"/>
                        <label for="group-by-date-button" class="animate-button">Data</label>
                    </div>

                    <div class="bottomline-button">
                        <input type="radio" id="group-by-category-button" name="group-method" value="category"/>
                        <label for="group-by-category-button" class="animate-button">Kategoria</label>
                    </div>
                </div>
            </div>
            <div id="operations-list">
            </div>

            <div id="noOperationsMessage" style="display: none" class="operations-list-message">
                <span class="segoe-mdl2-icon"></span>
                <p>Brak operacji w tym miesiącu</p>
            </div>

            <div id="operationsList">
            </div>
            
            @*<div class="operations-list-loading">
                <div class="loader"></div>
            </div>*@

            @*<div id="progress" style="display: none">
                <div class="loader"></div>
            </div>*@

            <div id="error" style="display: none" class="operations-list-message">
                <span class="segoe-mdl2-icon"></span>
                <p>Wystąpił błąd podczas ładowania</p>
                <button id="tryAgainBtn" class="button-round animate-button">Spróbuj ponownie</button>
            </div>

        </div>
        
        <!-- Second column of cards -->
        <div id="more-infos-cards" class="page-card-container">
            
            <!-- Visible accounts -->
            <div id="visible-accounts-card" class="page-card inner-page-card">
                <div class="header">
                    <p>Widoczne konta</p>

                    <button class="flex-right expand-button">
                        <i class="fa fa-angle-down animate-button" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="content">
                    @Html.Partial("_AccountCheckBoxesPartial", ViewBag.Accounts as IEnumerable<Account>)
                    <button class="outline-button filter-button">Filtruj</button>
                </div>
            </div>
            
            <!-- Summary -->
            <div id="summary-card" class="page-card inner-page-card">
                <div class="header">
                    <p>Podsumowanie</p>

                    <button class="flex-right expand-button">
                        <i class="fa fa-angle-down animate-button" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="content">
                    Kontent
                </div>
            </div>
        </div>
    </div>
</div>

@Html.ActionLink("+", "Create", "Operations", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success btn-circle btn-lg button-add animate-button" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/scripts/moment-with-locales.js")
    @Scripts.Render("~/scripts/operationsInfiniteScrolling.js")
    @Scripts.Render("~/scripts/loaders.css.js")

    <script>
        /* Slide Toogle */
        $("div.page-card button.expand-button").click(function () {
            var arrow = $(this).find("i.fa");

            arrow.toggleClass("fa-rotate-90");

            $(this).parent().parent().find("div.content").slideToggle();
        });
    </script>
}