@model Finanse_aspnet_mvc.Models.Categories.Category
@*<li>
    <div>
        @Html.DisplayFor(modelItem => Model.Name)
        @if (!Model.CantDelete) {
            <div class="btn-group" data-toggle="buttons">
                <button type="button" class="btn button-round animate-button dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Edit", "Edit", "Categories", new { id = Model.Id }, new { data_modal = "" })</li>
                    <li>@Html.ActionLink("Delete", "Delete", "Categories", new { id = Model.Id }, new { data_modal = "" })</li>
                </ul>
            </div>
        }
        <ol>
            @foreach (var subCategory in Model.SubCategories) {
                @Html.Partial("_SubCategory", subCategory)
            }
        </ol>
    </div>
</li>*@

<div class="category animate-button">
    <div class="category-icon">
        <i class="@(Model.Icon)" aria-hidden="true" style="color: @Model.Color;"></i>
    </div>
    <div class="category-text">
        <p>@Model.Name</p>
    </div>
    @if (!Model.CantDelete) {
        <div class="btn-group" data-toggle="buttons">
            <button type="button" class="button-more animate-button dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Edytuj", "Edit", new {id = Model.Id}, new {dataModal = ""})</li>
                <li>@Html.ActionLink("Usuń", "Delete", new {id = Model.Id}, new {dataModal = ""})</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Dodaj podkategorię", "Create", new { id = Model.Id }, new { dataModal = "" })</li>
            </ul>
        </div>
    }
</div>
<div class="subCategories-list">
    @foreach (var subCategory in Model.SubCategories) {
        @Html.Partial("_SubCategory", subCategory)
    }
</div>