@using Finanse_aspnet_mvc.Models
@using Finanse_aspnet_mvc.Models.Helpers
@model Finanse_aspnet_mvc.Models.Categories.CategoryPost

<div class="pop-up-header">
    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
    <h4 id="myModalLabel">Nowa kategoria</h4>
    <button type="button" class="close-button" data-dismiss="modal" aria-label="Close"><i aria-hidden="true">&times;</i></button>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="pop-up-body">
        <div class="form-wrapper">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="input-div">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.ColorKey, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ColorKey, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ColorKey, "", new { @class = "text-danger" })
            </div>
        </div>*@
        
            @*<div>
            @foreach (var colorPair in ViewBag.Colors) {
                <h4 style="color: @colorPair.Value">@colorPair.Key</h4>
            }
        </div>*@
        
            <div>
                @Html.Label("Kolor", htmlAttributes: new { @class = "" })
                    @Html.DropDownListFor(model => model.ColorKey, AppSettingsHelper.GetColors().Select(i => new SelectListItem {Value = i.Key, Text = i.Key}), new {@class = ""})
            </div>
        


            @*<div class="form-group">
            @Html.LabelFor(model => model.IconKey, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IconKey, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IconKey, "", new { @class = "text-danger" })
            </div>
        </div>*@
        
            <div>
                @Html.Label("Ikona", htmlAttributes: new { @class = "" })
                @Html.DropDownListFor(model => model.IconKey, AppSettingsHelper.GetIcons().Select(i => new SelectListItem { Value = i.Key, Text = i.Key }), new { @class = "" })
            </div>

            <div class="checkbox-div">
                @Html.EditorFor(model => model.VisibleInIncomes)
                @Html.LabelFor(model => model.VisibleInIncomes, htmlAttributes: new {@class = "label-normal" })
                @Html.ValidationMessageFor(model => model.VisibleInIncomes, "", new {@class = "text-danger"})
            </div>

            <div class="checkbox-div">
                @Html.EditorFor(model => model.VisibleInExpenses)
                @Html.LabelFor(model => model.VisibleInExpenses, htmlAttributes: new { @class = "label-normal" })
                @Html.ValidationMessageFor(model => model.VisibleInExpenses, "", new { @class = "text-danger" })
            </div>

            <div>
                @Html.Label("Kategoria nadrzędna", htmlAttributes: new { @class = "" })
                @Html.DropDownListFor(model => model.ParentCategoryId, new List<SelectListItem> { new SelectListItem { Value = "-1", Text = "Brak" } }.Concat(StackMoneyDb.OnlyCategoriesList().Select(i => new SelectListItem { Value = i.Id.ToString(), Text = i.Name })), new { @class = "" })
            </div>
        
            @Html.HiddenFor(item => item.CantDelete)

        </div>
    </div>

    <div class="pop-up-footer">
        <div class="button-block">
            <button class="pop-up-button" data-dismiss="modal">Anuluj</button>
            <input class="pop-up-button pop-up-button-primary" type="submit" value="Dodaj" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
