@using Finanse_aspnet_mvc.Models
@model Finanse_aspnet_mvc.Models.Categories.SubCategory
<li>
    @using (Html.BeginForm("Delete", "Categories", new { id = Model.Id }))
    {
        var myModal = "myModal" + Model.Id;
        <div>
            @Html.DisplayFor(modelItem => Model.Name)
            @*<div class="btn-group">
                @Html.ActionLink("Edit", "Edit", new {id = Model.Id})
                <input class="btn btn-default" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete record with ID = @Model.Id');" /> 
            </div>*@
            
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</li>
                    <li data-toggle="modal" data-target="#@myModal"><a>Delete</a></li>
                </ul>
            </div>
        </div>

        @Html.Partial("_DeleteModal", new ModalProperties { Id = myModal, ItemName = Model.Name })
    }
</li>