@model Finanse_aspnet_mvc.Models.Categories.SubCategory
@*<li>
    @Html.DisplayFor(modelItem => Model.Name)
    <div class="btn-group" data-toggle="buttons">
        <button type="button" class="btn btn-sm button-round animate-button dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Edit", "Edit", "Categories", new { id = Model.Id }, new { data_modal = "" })</li>
            <li>@Html.ActionLink("Delete", "Delete", "Categories", new { id = Model.Id }, new { data_modal = "" })</li>
        </ul>
    </div>
</li>*@

<div class="category animate-button">
    <div class="dot"></div>
    <div class="category-icon icon-small">
        <i class="@(Model.Icon)" aria-hidden="true" style="color: @Model.Color;"></i>
    </div>
    <div class="category-text">
        <p>@Model.Name</p>
    </div>
    @if (!Model.CantDelete) {
        <div class="btn-group" data-toggle="buttons">
            <button type="button" class="button-more animate-button dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Edytuj", "Edit", new {id = Model.Id}, new {data_modal = ""})</li>
                <li>@Html.ActionLink("Usuń", "Delete", new {id = Model.Id}, new {data_modal = ""})</li>
            </ul>
        </div>
    }
</div>