@model Finanse_aspnet_mvc.Controllers.ExpensesAndIncomesViewModel

@{
    ViewBag.Title = "Kategorie";
}

@*<div style="margin: 16px;">
    <i class="fa fa-tags" style="font-size: 24px"></i>
    <h2 style="display: inline; margin-left: 16px; font-weight: lighter">Kategorie</h2>
</div>
<hr />*@

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


@*@Html.ActionLink("+", "Create", "Operations", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-success btn-circle btn-lg button-add animate-button" })*@
<div class="page-content-new">
    <div class="page-top">
        <p class="page-title">Kategorie</p>
        <div class="flex-right">
            @Html.ActionLink("Dodaj nową", "Create", null, new { data_modal = "", id = "btnCreate", @class = "button-round animate-button" })
        </div>
    </div>
    <div class="multi-cards-container">
        <div class="page-card" style="flex: 1">
            <div class="header">
                <p>Wydatki</p>

                <button class="flex-right expand-button">
                    <i class="fa fa-angle-down animate-button" aria-hidden="true"></i>
                </button>
            </div>
            <div class="content">
                <div class="list">
                    @foreach (var item in Model.Expenses)
                    {
                        @Html.Partial("_Category", item)
                    }
                </div>
            </div>
        </div>

        <div class="page-card" style="flex: 1">
            <div class="header">
                <p>Wpływy</p>

                <button class="flex-right expand-button">
                    <i class="fa fa-angle-down animate-button" aria-hidden="true"></i>
                </button>
            </div>
            <div class="content">
                <div class="list">
                    @foreach (var item in Model.Incomes)
                    {
                        @Html.Partial("_Category", item)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")

    <script>
        /* Slide Toogle */
        $("div.page-card button.expand-button").click(function () {
            var arrow = $(this).find("i.fa");

            arrow.toggleClass("fa-rotate-90");

            $(this).parent().parent().find("div.content").slideToggle();
        });
    </script>
}
