@model Finanse_aspnet_mvc.Controllers.ExpensesAndIncomesViewModel

@{
    ViewBag.Title = "Kategorie";
}
            
<div style="margin: 16px;">
    <i class="fa fa-tags" style="font-size: 24px"></i>
    <h2 style="display: inline; margin-left: 16px; font-weight: lighter">Kategorie</h2>
</div>
<hr/>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn button-round button-lg animate-button" })
</p>

<div>
    <div>
        Wydatki
        @foreach (var item in Model.Expenses) {
            @Html.Partial("_Category", item)
        }
    </div>

    <div>
        Wpływy
        @foreach (var item in Model.Incomes) {
            @Html.Partial("_Category", item)
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}