@model Finanse_aspnet_mvc.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Zapomniałeś hasła?";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
    <div class="input-div">
        <label>Wpisz swój adres email</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="login-buttons">
        <input type="submit" value="Wyślij" class="login-button" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
