@using Finanse_aspnet_mvc.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<h1>
    @Html.ActionLink("StackMoney", "Index", "Home", null, new { @style = "color: inherit; text-decoration: inherit;" })
</h1>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()

    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="input-div">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, "")
    </div>
    <div class="input-div">
        @Html.LabelFor(m => m.Password)
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>

    <div>
        <div class="remember-div">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        @Html.ActionLink("Zapomniałeś hasła?", "ForgotPassword", null, new { @style = "display: inline; float: right;", @class = "link" })
    </div>

    <div class="login-buttons">
        <input type="submit" value="Zaloguj" class="login-button" />
        <button class="login-button facebook-button">Zaloguj przez Facebook</button>
    </div>
}

<div class="bottom-link-div">
    <p>
        Nie masz jeszcze konta?
        @Html.ActionLink("Zarejestruj się", "Register")
    </p>
</div>

@*<section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
