<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - StackMoney</title>
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("StackMoney", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated) {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Kategorie", "Index", "Categories")</li>
                        <li>@Html.ActionLink("Statystyki", "Index", "Statistics")</li>
                        <li>@Html.ActionLink("Konta", "Index", "Accounts")</li>
                        <li>@Html.ActionLink("Szablony", "Index", "Patterns")</li>
                        <li>@Html.ActionLink("Zlecenia stałe", "Index", "StandingOrders")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - StackMoney</p>
        </footer>
    </div>*@

    <div id="wrapper" class="menuDisplayed ">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div id="sidebar-logo" class="animate-button sidebar-logo-wide">
                <a href="@Url.Action("Index", "Home")"></a>
            </div>

            <ul class="sidebar-nav">
                <li>
                    <a href="@Url.Action("Index", "Home")" class="animate-button active">
                        <i class="fa fa-calendar-o"></i>
                        <span>Operacje</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Categories")" class="animate-button">
                        <i class="fa fa-tags"></i>
                        <span>Kategorie</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Statistics")" class="animate-button">
                        <i class="fa fa-bar-chart"></i>
                        <span>Statystyki</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Patterns")" class="animate-button">
                        <i class="fa fa-copy"></i>
                        <span>Szablony</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Accounts")" class="animate-button">
                        <i class="fa fa-credit-card"></i>
                        <span>Konta</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "StandingOrders")" class="animate-button">
                        <i class="fa fa-clock-o"></i>
                        <span>Zlecenia stałe</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")" class="animate-button">
                        <i class="fa fa-phone"></i>
                        <span>Kontakt</span>
                    </a>
                </li>
            </ul>
            
            <footer>
                <p>&copy; @DateTime.Now.Year</p>
                <p>StackMoney</p>
            </footer>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div id="upper-bar">
                <button href="#" id="button-hamburger" class="animate-button">
                    <i class="fa fa-navicon"></i>
                </button>
                @Html.Partial("_LoginPartial")
            </div>
            <div class="body-content">
                @RenderBody()
                <hr/>
            </div>
        </div>

    </div>

    <!-- Menu toggle script -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("#button-hamburger").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");

            $("#sidebar-logo").toggleClass("sidebar-logo-thin");
            $("#sidebar-logo").toggleClass("sidebar-logo-wide");
        });
    </script>
</body>
</html>