@using Finanse_aspnet_mvc.Models.Categories
@model Finanse_aspnet_mvc.Models.Operations.Operation

<div class="col-md-12">
    <div class="col-md-11">
        <h4>@Model.TitleOrCategoryName, @(Model.SignedCost.ToString("C"))</h4>
        @if (Model.Category is SubCategory) {
            <p>@(((SubCategory)Model.Category).ParentCategory.Name) -> @Model.Category.Name</p>
        }
        else {
            <p>@Model.Category.Name</p>
        }
    </div>
    <div class="btn-group pull-right" data-toggle="buttons">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Details", "Details", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
            <li>@Html.ActionLink("Edit", "Edit", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Delete", "Delete", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
        </ul>
    </div>
    <hr class="col-md-12" />
</div>