@using Finanse_aspnet_mvc.Models.Categories
@model Finanse_aspnet_mvc.Models.Operations.Operation

@*<div class="col-md-12">
    <div class="col-md-11">
        <h4>@Model.TitleOrCategoryName, @(Model.SignedCost.ToString("C"))</h4>
        @if (Model.Category is SubCategory) {
            <p>@(((SubCategory)Model.Category).ParentCategory.Name) -> @Model.Category.Name</p>
        }
        else {
            <p>@Model.Category.Name</p>
        }
        <p>@Model.Date</p>
    </div>
    <div class="btn-group pull-right" data-toggle="buttons">
        <button type="button" class="btn btn-default animate-button dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Szczegóły", "Details", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
            <li>@Html.ActionLink("Edytuj", "Edit", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Usuń", "Delete", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
        </ul>
    </div>
    <hr class="col-md-12" />
</div>*@

<div class="operation animate-button">
    <div class="operation-icon">
        <i class="fa fa-copy"></i>
    </div>
    <div class="operation-text">
        <span>@Model.TitleOrCategoryName</span>
        <div>
            @if (Model.Category is SubCategory) {
                <small>@(((SubCategory)Model.Category).ParentCategory.Name) -> @Model.Category.Name</small>
            }
            else {
                <small>@Model.Category.Name</small>
            }
        </div>
    </div>

    @if (Model.IsExpense) {
        <div class="operation-cost red-text">
            @(Model.SignedCost.ToString("C"))
        </div>
    }
    else {
        <div class="operation-cost green-text">
            @(Model.SignedCost.ToString("C"))
        </div>
    }
    
    <div class="btn-group" data-toggle="buttons" style="margin-right: 16px">
        <button type="button" class="btn button-round animate-button dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Szczegóły", "Details", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
            <li>@Html.ActionLink("Edytuj", "Edit", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Usuń", "Delete", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
        </ul>
    </div>
</div>