@using Finanse_aspnet_mvc.Models.Operations
@model Finanse_aspnet_mvc.Models.ModalProperties

<!-- Modal -->
<div class="modal fade" id="@Model.ModalId" tabindex="-1" role="dialog" aria-labelledby="operationDetailsModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Szczegóły operacji</h4>
            </div>
            <div class="modal-body">
                @{
                    var operation = Model.Model as OperationBase;
                    var deleteModalId = "deleteModal" + operation.Id;
                }

                <h1>@operation.SignedCost</h1>
                <h3>@operation.TitleOrCategoryName</h3>

                <hr />

                <h6>@operation.Category.Name</h6>
                @if (operation is Operation) {
                    <h6>@((operation as Operation).Date)</h6>
                }
                <h6>operation.Account.Name</h6>

                @if (!string.IsNullOrEmpty(operation.MoreInfo)) {
                    <hr />
                    <h6>@operation.MoreInfo</h6>
                }
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Edytuj", "Edit", "Operations", new { id = operation.Id }, new { @class = "btn btn-default" })
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#@deleteModalId">Usuń</button>
            </div>
        </div>
    </div>
</div>