@using Finanse_aspnet_mvc.Models.Categories
@model Finanse_aspnet_mvc.Models.Operations.Operation

<div class="operation animate-button">
    <div class="operation-icon">
        <i class="@(Model.Category.Icon)" aria-hidden="true" style="color: @Model.Category.Color;"></i>
    </div>

    <div class="operation-text">
        <p>@Model.TitleOrCategoryName</p>

        <div>
            @if (Model.Category is SubCategory) {
                <small>@(((SubCategory)Model.Category).ParentCategory.Name)</small>
                <i class="fa fa-chevron-right operation-angle"></i>
                <small>@Model.Category.Name</small>
            }
            else {
                <small>@Model.Category.Name</small>
            }
        </div>
    </div>

    <div class="operation-cost">
        @(Model.Cost.ToString()) PLN
    </div>

    @if (Model.IsExpense) {
        <i class="fa fa-arrow-left expense" aria-hidden="true"></i>
    }
    else {
        <i class="fa fa-arrow-left income" aria-hidden="true"></i>
    }

    @*<div class="btn-group" data-toggle="buttons">
            <button type="button" class="button-more animate-button dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Szczegóły", "Details", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
                <li>@Html.ActionLink("Edytuj", "Edit", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Usuń", "Delete", "Operations", new { id = Model.Id }, new { data_modal = "" })</li>
            </ul>
        </div>*@
</div>